<div class="container">
  <div class="row justify-content-center" id="main-row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="float-left d-none d-xl-block d-lg-block">Gruppenname - Forum</h3>
          <h4 class="float-left d-xl-none d-lg-none">Forum</h4>
          <!-- Collapse Toggle  -->
          <div class="float-right d-xl-none d-lg-none">
            <button class="btn btn-outline-danger" type="button" data-toggle="collapse"
                    data-target="#nav-collapse" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- Collapse  -->
        <div class="collapse" id="nav-collapse">
          <div class="card card-body" id="nav-list">
            <ul>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Mitglieder</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Forum</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Notizen</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Termine</li>
              </a>
            </ul>
          </div>
        </div>
        <!-- Buttonbar -->
        <div class="row justify-content-center d-none d-lg-block d-xl-block" id="nav-btn-bar">
          <div class="btn-group" role="group" id="group-btn-bar">
            <button type="button" class="btn btn-outline-danger">Mitglieder</button>
            <button type="button" class="btn btn-outline-danger">Forum</button>
            <button type="button" class="btn btn-outline-danger">Notizen</button>
            <button type="button" class="btn btn-outline-danger">Termine</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row" id="top">
            <div class="row" id="heading">
              <div class="col-6"><h2 class="float-left">Beitragname</h2></div>
              <div class="col-6 float-right"><a href="" class="float-right">Verlassen</a></div>
            </div>
            <div class="row justify-content-center post" id="post">
              <div class="card post">
                <div class="card-header">
                  <p>Autor</p>
                </div>
                <div class="card-body">
                  <p>

                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" id="comments">
              <div class="card">
                <div class="card-header">
                  <p>Kommentare</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="bottom">
            <div class="row justify-content-center" id="input">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" (click)="isEmojiClicked = !isEmojiClicked">
                  <i class="fa fa-frown-o" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" placeholder="Nachricht" aria-label="message"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="message" (keyup.enter)="sendMessage()">
                <span class="input-group-addon" id="basic-addon2" (click)="sendMessage()">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
