<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/logo.png" height="30" alt="">
    Project Zero
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ng-template [ngIf]="authService.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/library">Bibliothek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/chat">Chaträume</a>
        </li>
      </ng-template>
    </ul>
    <ul class="navbar-nav">
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/signup">Registrieren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/signin">Anmelden</a>
        </li>
      </ng-template>
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link" (click)="onLogout()">Abmelden</a>
      </li>
    </ul>
  </div>
</nav>
