<div [@bodyState]="state" class="friends clearfix">
  <div class="float-right">
    <div id="friend-header" (click)="onClicked()">
      <div class="row">
        <div class="col-6" (click)="onFriendsView()" [ngClass]="{noborder: isFriendsSelected}">Freunde</div>
        <div class="col-6" (click)="onGroupsView()" [ngClass]="{ noborder: isGroupsSelected }">Gruppen</div>
      </div>
    </div>
    <div id="friend-body">
      <div [@body]="body" id="friends" *ngIf="isFriendsSelected">
        <div>
          <div class="p-2 clearfix">
            <img class="float-left" src="../../assets/profile.png" height="50" width="50" />
            <div class="float-left">
              <p>Freund</p>
              <p>Status</p>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div [@body]="body" id="groups" *ngIf="isGroupsSelected">
      </div>
    </div>
    <div id="friend-footer" class="p-2">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
    </div>
  </div>
</div>
