.content {
  height: calc(100% - 95px);
  word-break: break-all;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 0;
  overflow: auto;
  border-bottom: 2px solid #DC143C;
  padding: 0;
}

.chat {
  padding: 2px 5px;
}

.chat:last-of-type {
  border-left: 1px solid rgba(0,0,0,.25);
}

.container-fluid {
  height: calc(100% - 60px);
}

.chat-wrap {
  height: 100%;
  padding-top: 1em;
}

.chat-input {
  padding: 0;
  margin-top: -40px;
}

.input-group-addon {
  border-radius: 0;
}

.chat-content {
  margin-top: -2px;
}

.chat-content:first-child {
  margin-top: 0;
}

.chat-content:last-of-type {
  padding-bottom: 18px;
}

.chat-content p {
  display: inline;
}

p.name {
  font-weight: bold;
}

.emojis {
  position: absolute;
  bottom: 87px;
  height: 160px;
  width: 320px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0,0,0,.25);
}

span {
  cursor: pointer;
}
