<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 *ngIf="!editName" (click)="editName = true"> {{ this.note.titel }} </h2>
      <input *ngIf="editName" (keyup.enter)="onUpdateName()" [(ngModel)]="this.note.titel"/>
      <p>von {{ this.note.user.name }}</p>

      <button class="btn btn-link float-right" *ngIf="editText" (click)="onUpdateText()">Speichern</button>
    </div>
    <div class="row col-12" (click)="onUpdateName()">
      <div *ngIf="!editText" class="content col-xs-12 col-sm-9" (click)="editText = true">
        {{ this.note.text }}
      </div>
      <div *ngIf="editText" class="edit col-xs-12 col-sm-9">
        <textarea [(ngModel)]="this.note.text"></textarea>
      </div>

      <div class="col-3 d-none d-sm-block">
        Mitglieder
      </div>
    </div>
  </div>
</div>
