.chat {
  min-width: 70%;
  height: 7em;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.25);
  border-radius: .25rem;
}

.chat-left {
  padding-right: 0;
}

.chat-right {
  padding-left: 0;
}

.chat-wrap {
  padding-top: 1em;
}

h1 {
  padding: 1em;
  font-size: 2em;
}

h2 {
  padding-top: 2em;
  font-size: 1.25em;
  text-align: center;
}
