.container {
  max-width: 80%;
  padding: 2em 0;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-bottom: 1em;
  border-radius: 0;
}

.create-card {
  display: flex;
  justify-content: center;
  padding-bottom: 11px;
}

h1 {
  position: relative;
  height: 40px;
}

i {
  color: #FF0000;
}

.link {
  cursor: pointer;
}
