<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card">
        <h4 class="card-header">Meine Spiele</h4>
        <div class="card-body">
          <div *ngFor="let game of games">
            <p>{{game.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" id="game-header">
        <h3>{{games[0].name}}</h3>
        <hr>
        <div class="row" id="friends">
          <h5>
            Freunde
          </h5>
          <div class="row">
            <div class="col">
              <div class="card friend-online">
                <img src="">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" id="game-discription">
          <div class="row">
            <h5>
              Beschreibung:<br>
            </h5>
          </div>
          <div class="row">
            <p>{{games[0].beschreibung}}</p><br>
          </div>
          <div class="row">
            Erstellt am:{{games[0].created_at}}
          </div>
        </div>
        <hr>
        <div class="row" id="ratings-container">
          <div class="col rating">
            <div class="card">
              <div class="row">
                <div class="col">
                  Bewertung von Hans
                </div>
                <div class="col">

                </div>
              </div>
            </div>
          </div>
          <div class="col rating">
            <div class="card">
              <div class="row">
                <div class="col">
                  Bewertung von Hans
                </div>
                <div class="col">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
