.container {
  margin-top: 20px;
  margin-bottom: 15px;
}

.card {
  border-radius: 0;
  border-bottom: 2px solid #DC143C;
}

.card .card-header {
  border-radius: 0;
  border-bottom: 1px solid #DC143C;
  text-align: center;
}

.card .card-body {
  padding-top: 35px;
  padding-bottom: 35px;
}

#game-header {
  padding: 40px 20px 20px 50px;
}

#game-discription {
  padding-left: 30px;
}

#discription-header {
  padding-left: 20px;
}

.nav-item {
  padding: 10px;
}

.nav {
  font-size: 10pt;
}

#friends {
  padding-left: 20px;
}

#friends h5 {
  font-size: 12pt;
}

.game-entry {
  list-style-type: none;
}

#details {
  align-content: center;
}

.card .friend-online {
  border: 2px solid #01DF01;
  height: 50px;
  width: 50px;
  margin: 0px 2px 0px 2px;
}

.card .friend-ingame {
  border: 2px solid #0000FF;
  height: 50px;
  width: 50px;
  margin: 0px 2px 0px 2px;
}

.card .friend-away {
  border: 2px solid #FFFF00;
  height: 50px;
  width: 50px;
  margin: 0px 2px 0px 2px;
}

.card .friend-offline {
  border: 2px solid #FF0000;
  height: 50px;
  width: 50px;
  margin: 0px 2px 0px 2px;
}


