/* You can add global styles to this file, and also import other style files */
a:hover {
  cursor: pointer;
}

a:not([href]):not([tabindex]) {
  color: #DC143C;
}

a:hover, a:not([href]):not([tabindex]):hover {
  color: #9a0e2a;
}
