@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.row {
  margin-right: 0px;
  margin-left: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  cursor: pointer;
}

a:not([href]):not([tabindex]) {
  color: #DC143C;
}

a:hover, a:not([href]):not([tabindex]):hover {
  color: #9a0e2a;
}

input:focus, textarea:focus {
  outline: 0;
  box-shadow: none;
}
