<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <h4 class="card-header">Anmeldung</h4>
        <div class="card-body">
          <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     placeholder="E-Mail"
                     name="email" ngModel>
            </div>
            <div class="form-group">
              <label for="password">Passwort</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     placeholder="Passwort"
                     ngModel>
            </div>
            <div class="clearfix footer">
              <div class="float-left">
                <p>Noch nicht angemeldet?</p>
                <a routerLink="/login">Registrieren</a>
              </div>
              <button type="submit" class="float-right btn btn-outline-danger">Anmelden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
