<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="calendar">
        <div class="calendar-header">
          <i class="fa fa-angle-left" aria-hidden="true" (click)="swipeMonth(0)"></i>
          <div>{{ date.getMonth() }}  {{ date.getYear() }}</div>
          <i class="fa fa-angle-right" aria-hidden="true" (click)="swipeMonth(1)"></i>
        </div>
        <table class="table table-bordered table-responsive">
          <thead>
          <tr>
            <th scope="col">S</th>
            <th scope="col">M</th>
            <th scope="col">T</th>
            <th scope="col">W</th>
            <th scope="col">T</th>
            <th scope="col">F</th>
            <th scope="col">S</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of calendarWeeks;">
              <td *ngFor="let day of week">
                <span *ngIf="day.day != 0" [ngClass]="{ color: day.day == today.getDate() && day.month == today.getMonth() && day.year == today.getFullYear() }">{{ day.day }}</span>
                <span class="dot" *ngIf="haveAdate(day.day, day.month, day.year)"></span>
                <span class="dot green" *ngIf="haveAshared(day.day, day.month, day.year)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-12 col-md-4">
      <div class="schedule">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
