.container {
  margin-top: 15px;
}

.schedule {
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
}

.calendar-header {
  height: 25px;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  line-height: 25px;
}

tbody tr {
  line-height: 25px;
  min-height: 100px;
  height: 100px;
}

.table {
  margin-bottom: 0;
}

.table-bordered, .table thead th, .table-bordered td, .table-bordered th {
  border-color: rgba(0,0,0,.2);
}

.add-button {
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  cursor: pointer;
}

textarea {
  height: 200px;
  resize: none;
}
