.container-fluid {
  margin-top: 15px;
}

.col-4 div{
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
}

.calendar-header {
  height: 25px;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  line-height: 25px;
}

tbody tr {
  line-height: 25px;
  min-height: 100px;
  height: 100px;
}

.table {
  margin-bottom: 0;
}

.table-bordered, .table thead th, .table-bordered td, .table-bordered th {
  border-color: rgba(0,0,0,.2);
}
