.container {
  margin-top: 15px;
  height: calc(100% - 124px);
}

.row {
  height: 100%;
}

.calendar, .schedule {
  margin-bottom: 15px;
}

.schedule {
  border: 1px solid rgba(0,0,0,.2);
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 10px 10px 30px;
}

.calendar-header {
  height: 25px;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  line-height: 25px;
}

table {
  display: table;
  width: 100%;
}

thead, tbody {
  width: 100%;
}

tbody tr {
  line-height: 25px;
  min-height: 100px;
  height: 100px;
}

.table {
  margin-bottom: 0;
}

.table-bordered, .table thead th, .table-bordered td, .table-bordered th {
  border-color: rgba(0,0,0,.2);
}

.add-button {
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
  cursor: pointer;
}

input {
  border-radius: 0;
}

textarea {
  border-radius: 0;
  height: 200px;
  resize: none;
}

textarea:focus, input:focus  {
  outline: none;
  border-color: #DC143C;
  box-shadow: none;
}

h6 {
  margin-bottom: -5px;
}

span {
  font-size: 12px;
  padding-bottom: 5px;
}

.schedule div h6 {
  float: left;
}

.schedule div i {
  font-size: 18px;
  padding-left: 5px;
  cursor: pointer;
  float: right;
}

td span {
  border: 0 solid black;
  padding: 3px;
  border-radius: 40px;
}

.color {
  color: #DC143C;
  font-weight: bold;
}

.calendar-header i {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.calendar-header i:first-of-type {
  padding-right: 5px;
}

.calendar-header i:last-of-type {
  padding-left: 5px;
}

td span.dot {
  height: 3px;
  width: 3px;
  background-color: #DC143C;
  border-radius: 50%;
  display: inline-block;
}

.calendar-header div {
  font-size: inherit;
  min-width: 200px !important;
  display: inline-block;
}

@media (max-width: 390px) {
  table {
    display: block;
  }
}

.test {}

