<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="calendar">
        <div class="calendar-header">November 2017</div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">S</th>
            <th scope="col">M</th>
            <th scope="col">T</th>
            <th scope="col">W</th>
            <th scope="col">T</th>
            <th scope="col">F</th>
            <th scope="col">S</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
          </tr>
          <tr>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
          </tr>
          <tr>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
          </tr>
          <tr>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-4 schedule">
      <div>
        <div *ngIf="!isClicked">
          <h4>Termine</h4>
          <div>
            <h6>Termin name: </h6>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
          <div>
            <h6>Termin name: </h6>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>

        <div *ngIf="isClicked">
          <form>
            <div class="form-group">
              <label for="terminnamen">Terminname: </label>
              <input type="text" class="form-control" id="terminnamen" placeholder="Terminname">
            </div>
            <div class="form-group">
              <label for="beschreibung">Beschreibung: </label>
              <textarea type="text" class="form-control" id="beschreibung" placeholder="Beschreibung"></textarea>
            </div>
            <div class="form-group">
              <label for="startdatum">Startdatum: </label>
              <input type="datetime-local" class="form-control" id="startdatum" placeholder="Startdatum">
            </div>
            <div class="form-group">
              <label for="enddatum">Enddatum: </label>
              <input type="datetime-local" class="form-control" id="enddatum" placeholder="Enddatum">
            </div>
          </form>
        </div>
        <div class="add-button" (click)="isClicked = !isClicked">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
