<div class="container-fluid">
  <div class="row" id="main-row">
    <!-- Left Side -->
    <div class="col-md-6 justify-content-center d-none d-xl-block d-none d-lg-block d-xl-none">
      <div class="card" id="left">
        <h3 class="card-header">Gruppenname</h3>
        <div class="card-body">
          <!-- Buttonbar -->
          <div class="btn-group" role="group" id="group-btn-bar">
            <button type="button" class="btn btn-outline-danger">Mitglieder</button>
            <button type="button" class="btn btn-outline-danger">Forum</button>
            <button type="button" class="btn btn-outline-danger">Notizen</button>
            <button type="button" class="btn btn-outline-danger">Termine</button>
          </div>
        </div>
        <!-- Verlassen Button -->
        <div class="row justify-content-center leave-row">
          <button type="button" class="btn btn-outline-danger leave-button">Verlassen</button>
        </div>
      </div>
    </div>
    <!-- End Left Side -->

    <!-- Right Side -->
    <div class="col justify-content-center">
      <div class="card" id="right">
        <!-- Header  -->
        <div class="card-header d-xl-none d-lg-none">
          <div class="float-left">
            <h3>Gruppenname</h3>
          </div>
          <!-- Collapse Toggle  -->
          <div class="float-right">
            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#group-options"
                    aria-expanded="false" aria-controls="collapseOptions" id="groupOptionsButton">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- Collapse  -->
        <div class="collapse" id="group-options">
          <div class="card card-body" id="options-collapse">
            <ul>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Mitglieder</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Forum</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Notizen</li>
              </a>
              <a style="cursor: pointer" class="clearfix" href="">
                <li>Termine</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <!-- Image  -->
          <div class="row justify-content-center" id="img-row">
            <img class="img" src="">
          </div>
          <!-- Groups Description  -->
          <div class="row" id="detail-row">
            <div class="card card-body">

            </div>
          </div>
        </div>
        <!-- Leave Button  -->
        <div class="row justify-content-center leave-row d-xl-none d-lg-none">
          <button type="button" class="btn btn-outline-danger leave-button">Verlassen</button>
        </div>
      </div>
    </div>
  </div>
</div>


