<div class="container-fluid">
  <div class="row" id="main-row">
    <div class="col-md-6 justify-content-center">
      <div class="card" id="left">
        <h3 class="card-header">Gruppenname</h3>
        <div class="card-body">
          <div class="row justify-content-center">
            <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#group-options"
                    aria-expanded="false" aria-controls="collapseOptions" id="groupOptionsButton">
            </button>
          </div>
          <div class="collapse" id="group-options">
            <div class="card card-body">
              <ul>
                <a style="cursor: pointer" class="clearfix" href=""><li>Mitglieder<li></a>
                <a style="cursor: pointer" class="clearfix" href=""><li>Forum<li></a>
                <a style="cursor: pointer" class="clearfix" href=""><li>Notizen<li></a>
                <a style="cursor: pointer" class="clearfix" href=""><li>Termine<li></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="row" id="spacer"></div>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-outline-danger">Verlassen</button>
        </div>
      </div>
    </div>
    <div class="col justify-content-center">
      <div class="card" id="right">
        <div class="row justify-content-center">
          <img class="img" src="">
        </div>
        <div class="row">
          <div class="card card-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


