<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <h4 class="card-header">Registrierung</h4>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Benutzername</label>
              <input [ngClass]="{ deny: !registerForm.get('username').valid && registerForm.get('username').touched }"
                     type="text"
                     class="form-control"
                     id="username"
                     placeholder="Benutzername"
                     formControlName="username">
              <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">
                <span *ngIf="registerForm.get('username').errors['minlength']">Benutzername muss mindenstens 8 Zeichen lang sein!</span>
                <span *ngIf="registerForm.get('username').errors['maxlength']">Benutzername darf maximal 16 Zeichen lang sein!</span>
              </span>
            </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input [ngClass]="{ deny: !registerForm.get('email').valid && registerForm.get('email').touched }"
                     type="email"
                     class="form-control"
                     id="email"
                     placeholder="E-Mail"
                     formControlName="email">
              <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                Bitte geben Sie eine korrekte E-Mail an!
              </span>
            </div>
            <div formGroupName="passwords">
              <div class="form-group">
                <label for="password">Passwort</label>
                <input [ngClass]="{ deny: !registerForm.get('passwords.password').valid && registerForm.get('passwords.password').touched }"
                       type="password"
                       class="form-control"
                       id="password"
                       placeholder="Passwort"
                       formControlName="password">
                <span *ngIf="!registerForm.get('passwords.password').valid && registerForm.get('passwords.password').touched">
                  <span *ngIf="registerForm.get('passwords.password').errors['minlength']">Passwort muss mindenstens 8 Zeichen lang sein!</span>
                </span>
              </div>
              <div class="form-group">
                <label for="repeat">Passwort</label>
                <input [ngClass]="{ deny: !registerForm.get('passwords').valid && registerForm.get('passwords.repeat').touched }"
                       type="password"
                       class="form-control"
                       id="repeat"
                       placeholder="Passwort"
                       formControlName="repeat"
                       ngModel>
                <span *ngIf="(!registerForm.get('passwords').valid || !registerForm.get('passwords.repeat').valid) && registerForm.get('passwords.repeat').touched">
                  <span *ngIf="registerForm.get('passwords').errors != null">Passwörter stimmen nicht überein!</span>
                </span>
              </div>
            </div>
            <div class="clearfix footer">
              <div class="float-left">
                <p>Bereits registriert?</p>
                <a routerLink="/login">Anmelden</a>
              </div>
              <button type="submit" class="float-right btn btn-outline-danger" [disabled]="!registerForm.valid">Registrieren</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
