<div class="card" id="game-header">
  <h3>
    <span *ngFor="let game of games">
      <span ngSwitch="game.id">
        <span ng-switch-when="id">
          {{game.name}}
        </span>
      </span>
    </span>
  </h3>
  <hr>
  <div class="row" id="friends">
    <h5>
      Freunde, die das Spiel besitzen:
    </h5>
  </div>
  <div class="row">
    <div class="col" id="game-friends">
      <ul class="nav">
        <li class="card friend-online nav-item">
          <img src="../../assets/profile.png" height="50" width="50">
        </li>
        <li class="card friend-ingame nav-item">
          <img src="../../assets/profile.png" height="50" width="50">
        </li>
        <li class="card friend-away nav-item">
          <img src="../../assets/profile.png" height="50" width="50">
        </li>
        <li class="card friend-offline nav-item">
          <img src="../../assets/profile.png" height="50" width="50">
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row" id="discription-header">
    <h5>
      Beschreibung:<br>
    </h5>
  </div>
  <div class="row" id="game-discription">
    <p>
      <span *ngFor="let game of games">
      <span ngSwitch="game.id">
        <span ng-switch-when="id">
          {{game.beschreibung}}
        </span>
      </span>
    </span>
    </p>
  </div>
  <hr>
  <div class="row" id="details">
    <ul class="nav" id="detail-list">
      <li class="nav-item">
        <span class="detail-topic">Erstellt am:</span>
        <span *ngFor="let game of games">
          <span ngSwitch="game.id">
            <span ng-switch-when="id">
            {{game.created_at}}
          </span>
         </span>
        </span>
      </li>
      <li class="nav-item">
        <span class="detail-topic">Letztes Update:</span>
        <span *ngFor="let game of games">
           <span ngSwitch="game.id">
            <span ng-switch-when="id">
              {{game.updated_at}}
            </span>
          </span>
        </span>
      </li>
      <li class="nav-item">Genre:</li>
      <li class="nav-item">Publisher:</li>
    </ul>
  </div>
  <hr>
  <div class="row" id="rewiews">
    <div class="col-6 review">
      <div class="row review-header">
        <p class="review-title">Titel</p>
        <p class="review-author">von G&uuml;nther</p>
      </div>
    </div>
  </div>
</div>

